bin/Debug/La nena.exe
bin/Debug/La nena.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/La nena.exe
obj/Debug/La nena.pdb
obj/Debug/La nena.vbproj.AssemblyReference.cache
obj/Debug/La nena.vbproj.CoreCompileInputs.cache
obj/Debug/La nena.vbproj.FileListAbsolute.txt
obj/Debug/La nena.vbproj.GenerateResource.cache
.vs/La nena/v16/
.vs/La nena/FileContentIndex/5149b18f-9af2-4dfe-99c9-28c1a14949a6.vsidx
.vs/La nena/FileContentIndex/635d4eff-7383-4b87-a159-973774e18554.vsidx
.vs/La nena/FileContentIndex/cd943321-bdf3-4788-b5f3-8bdcea9fe3ce.vsidx
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/La nena.vbproj.AssemblyReference.cache
bin/Debug/La nena.exe
.vs/La nena/v17/.suo
.vs/La nena/FileContentIndex/f7c3e7af-7ccd-41ac-b8cc-1339a0e7766c.vsidx
.vs/La nena/FileContentIndex/6b65d970-87ac-4068-a431-ccca9098c6cc.vsidx
.vs/La nena/FileContentIndex/a9801d67-a0ce-412f-bbd7-29cb9312cc8e.vsidx
.vs/La nena/FileContentIndex/e86827cf-fba7-46a4-ab5a-4a61cac2c7f3.vsidx
.vs/La nena/FileContentIndex/2b776b28-9733-4cf7-ad82-f10ebb001aa7.vsidx
.vs/La nena/FileContentIndex/6bf76e58-1890-49e4-a03a-507fb73ebfd9.vsidx
.vs/La nena/FileContentIndex/a717b2bd-691d-4205-aace-d64408c17052.vsidx
.vs/La nena/FileContentIndex/8b32593d-3eab-4a71-9f06-9e9467276e5d.vsidx
.vs/La nena/FileContentIndex/a717b2bd-691d-4205-aace-d64408c17052.vsidx
.vs/La nena/FileContentIndex/a717b2bd-691d-4205-aace-d64408c17052.vsidx
.vs/La nena/FileContentIndex/ac3db8ca-0dca-439b-af8d-fd8a81480a4d.vsidx
obj/Debug/La nena.exe
obj/Debug/La nena.pdb
.vs/La nena/FileContentIndex/f4bb740e-3178-4db9-a089-39bf65efdc0f.vsidx
.vs/La nena/FileContentIndex/2c9cd40f-00dd-4a77-9724-63f0a6933fdd.vsidx
.vs/La nena/FileContentIndex/0cfa0127-98a0-4dd0-b5ff-8a6f1479e4ae.vsidx
.vs/La nena/FileContentIndex/b8c0b45f-2820-4f12-bdd3-691512536bd5.vsidx
.vs/La nena/FileContentIndex/d4c5d8c8-6fe5-49de-8771-05648efe8918.vsidx
.vs
.vs/
obj/Debug/La nena.pdb
obj/Debug/La nena.exe
obj/Debug/La nena.exe
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/bin/Debug/GUI_MODERNISTA_VB.exe
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/obj/Debug/GUI_MODERNISTA_VB.vbproj.GenerateResource.cache
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/obj/Debug/GUI_MODERNISTA_VB.vbproj.AssemblyReference.cache
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/obj/Debug/GUI_MODERNISTA_VB.pdb
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/obj/Debug/GUI_MODERNISTA_VB.FormDashboard.resources
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/obj/Debug/GUI_MODERNISTA_VB.exe
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/bin/Debug/GUI_MODERNISTA_VB.pdb
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/bin/Debug/GUI_MODERNISTA_VB.exe.config
GUI_MODERN_VisualBasic/GUI_MODERNISTA_VB/bin/Debug/GUI_MODERNISTA_VB.exe
/packages
